header {
    height: 80px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}

header * {
    display: inline;
}


header>img {
    height: 60%;
    margin: 10px 0 10px 50px;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}